<html>
  <head>
    <title>Pivoted</title>
    <style>
      body {
        font-family: sans-serif;
      }
      section h2, section p { font-size: 0.9em; }
    </style>
  </head>
  <body>
    <header>
      <h1>Pivoted</h1>
      <p>Digest of stories from the <%= project.name %> pivotal tracker.</p>
    </header>
    <section>
      <ol>
      <% stories.each do |story| %>
        <li>
          <h2><%= story.name %> (<%= story_meta(story).join(", ") %>)</h2>
          <p><%= story.description %></p>
        </li>
      <% end %>
      </ol>
    </section>
  </body>
</html>
